html, body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body{
    background: #2c2c2c;
    color: #f1f1f1
}

main{
    margin: 2em;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: #222;
    box-sizing: border-box;
    padding: 1em 2em;
    box-shadow: 0 2px 10px rgba(0,0,0,0.5);
}

nav ul{
    margin: 0;
    display: flex;
    flex-direction: row;
    gap: 1em;
    list-style: none;
}

nav h2{
    margin: 0;
}

a{
    color: #ccc;
}

form{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
    margin-top: 1em;
    width: max-content;
    padding: 1em;
    box-sizing: border-box;
    border-radius: 0.5em;
    background: #333;
}

form input[type='text']{
    border: none;
    border-radius: 0.25em;
    padding: 0.5em;
    background: #242424;
    box-shadow: inset 3px 3px 6px #1a1a1a,
            inset -3px -3px 6px #2e2e2e;
    color: #ccc;
}

form input[type='submit']{
    border: none;
    border-radius: 0.25em;
    padding: 0.5em;
    background: #242424;
    background: linear-gradient(145deg, #272727, #202020);
    box-shadow:  3px 3px 6px #1a1a1a,
             -3px -3px 6px #2e2e2e;
    color: #ccc;
}

.makeRow{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
}

.divider{
    border-top: 1px solid #444;
    padding-top: 1em;
}
    
.contentWrap{
    margin-top: 2em;
    display: flex;
    flex-direction: row;
    gap: 2em;
}

.coinWrap{
    padding: 1em;
    box-sizing: border-box;
    border-radius: 0.5em;
    background: #333;
}

.coinWrap a{
    color: #ccc;
}

.coinCont{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: max-content;
    gap: 1em;
    margin-bottom: 0.7em;
}

.coinCont div, .coinCont h4, .coinCont h3, .coinCont div p{
    margin: 0;
}

.coinCont h4{
    margin-top: 0.25em;
}

.coinCont div p{
    font-size: 0.8em;
    color: #999;
}

.chartBarWrap{
    width: max-content;
    height: fit-content;
    padding: 1em;
    box-sizing: border-box;
    border-radius: 0.5em;
    background: #333;
}

.chartBarWrap a{
    color: #ccc;
}

.chartBarWrap h3{
    margin: 0 0 0.9em 0;
}

.boxShadow{
    background: linear-gradient(225deg, #202020, #272727);
    box-shadow:  -7px 7px 26px #1d1d1d,
             7px -7px 26px #2b2b2b;
}

.chartBarCont{
    width: max-content;
    display: flex;
    flex-direction: row;
    gap: 2px;
    align-items: baseline;
    margin-bottom: 1em;
}

.chartPrices{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.marginSmall{
    margin-bottom: 0.7em;
}

.poweredBy{
    font-size: 0.7em;
    border-top: 1px solid #444;
    padding-top: 1em;
}

.poweredBy p{
    margin: 0;
    color: #999;
}

.chartPrices p {
    margin: 0;
}

.chartBar{
    position: relative;
    width: 1em;
    background: #2c2c2c;
}

.chartBar:hover {
    background: #ccc;
    transition: 0.3s ease;
}

.chartBar .chartBarInfo {
    position: absolute;
    padding: 0.5em;
    background: #fff;
    color: #333;
    width: max-content;
    border-radius: 0.25em;
    font-size: 0.70em;
    z-index: 10;
    display: none;
    flex-direction: column;
    bottom: -1em;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
    transform: translate(calc(-50% + 0.8em), 100%);
}

.chartBar .chartBarInfo::before {
    position: absolute;
    top: -1em;
    left: calc(50% - 1.1em);
    content: '';
    width: 2em;
    height: 2em;
    background: #fff;
    clip-path: polygon(50% 0%, 0 100%, 100% 100%);
    z-index: 9;
}

.chartBar:hover .chartBarInfo{
    display: flex;
    animation: chartInfo 0.3s ease forwards;
}

@keyframes chartInfo {
    from {bottom: -1em;}
    to {bottom: -1.5em;}
}

.chartBar p {
    margin: 0.1em;
    z-index: 10;
}